*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: lightgray;
}
nav ul{
    height: 45px;
    background-color: rgba(31, 29, 28, 0.692);
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
ul li:hover{
    background-color: lightblue;
}
nav ul li {
    font-size: 15px;
    color: white;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 45px;
    display: flex;
}
ul li a{
    font-size: large;
    color: white;
    text-decoration: none;
}
.texto{
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
header h1{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
header li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}
header img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 44%;
    padding: 60px;
    width: 150px;
}
header{
    align-items: center;
    justify-content: center;
    display: flex;
}
footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    color: white;
    background-color: rgba(31, 29, 28, 0.692);
    margin-top: 8%;
}